---
layout: default
---

{% include header.html %}

<main class="mdl-layout__content" style="flex: 1 0 auto;">
  <section class="mdl-layout__tab-panel is-active" id="blog">
    <div class="page-content">
      <div class="mdl-grid">
        {% if site.post_type == 'highlight' %}
        {% for post in site.posts %}
        {% if post.highlight %}

        <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

          <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}></header>

          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>{{ post.title }}</h4>
              <p>{{ post.excerpt }}</p>
            </div>
            <div class="mdl-card__actions">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
            </div>
          </div>

          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn-high-{{ post.id }}">
    <i class="material-icons">more_vert</i>
    </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn-high-{{ post.id }}">
            <li><a href="https://www.facebook.com/dialog/share?app_id={{site.facebook_app_id}}&display=page&href={{ post.url | prepend: site.baseurl }}&redirect_uri={{ site.baseurl }}" class="mdl-menu__item">Facebook</a></li>
            <li><a href="https://twitter.com/share?url={{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item">Twitter</a></li>
            <li><a href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl }}" class="mdl-menu__item">Google+</a></li>
          </ul>

        </div>

        {% else %}

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
          <div class="mdl-card__title" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.excerpt }}</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="post-{{ post.id }}">
      <i class="material-icons">share</i>
    </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="post-{{ post.id }}">
              <li><a href="https://www.facebook.com/dialog/share?app_id={{site.facebook_app_id}}&display=page&href={{ post.url | prepend: site.baseurl }}&redirect_uri={{ site.baseurl }}" class="mdl-menu__item">Facebook</a></li>
              <li><a href="https://twitter.com/share?url={{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item">Twitter</a></li>
              <li><a href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl }}" class="mdl-menu__item">Google+</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for post in site.posts %}

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
          <div class="mdl-card__title" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.excerpt }}</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">
      Read More
    </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="post-{{ post.id }}">
      <i class="material-icons">share</i>
    </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="post-{{ post.id }}">
              <li><a href="https://www.facebook.com/dialog/share?app_id={{site.facebook_app_id}}&display=page&href={{ post.url | prepend: site.baseurl }}&redirect_uri={{ site.baseurl }}" class="mdl-menu__item">Facebook</a></li>
              <li><a href="https://twitter.com/share?url={{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item">Twitter</a></li>
              <li><a href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl }}" class="mdl-menu__item">Google+</a></li>
            </ul>
          </div>
        </div>

        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  <section class="mdl-layout__tab-panel" id="about">
  <div class="post-ribbon"></div>
  <div class="post-main">
    <div class="post-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h1>About</h1>
      <article class="post-content">
          <p>
          <h3 id="bst">BST</h3>
          <p>BST is a simple, straight-forward language built from the ground up to provide the most user-friendly clutter-free experience possible to both users and story creators. Creating BST files simply requires any text file editor : Windows’ Notepad.exe, Notepad++, gedit, Mousepad, Pluma, Atom.io, Sublime Text, any can do!</p>

          <pre><code>1:This small text box is all you need to know to get started
          :Cool!|2

          2:I know right? :D
          </code></pre>

          <p>And you can even create more complex story with scripting. Heck, you could even create your very own text-based game with it – your imagination is the limit.</p>

          <p>The BST format is open, and documentation is available freely to download from the Release page.</p>

          <h3 id="openbst">OpenBST</h3>
          <p>OpenBST is a simple, cross-platform and universal program to read and interact with any BST formatted file. It aims to be up to date with the latest new fancy features.</p>

          <p>Its interface is simple enough for newcomers while containing everything needed for power users and story creators.</p>

          <h3 id="download-now-version-02-rc1">Download now (version 0.2-RC1)</h3>
          <p>The BST Tutorial : <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/The.BST.Tutorial.pdf'">
            Download the Tutorial
          </button><br />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/examples.zip'">
            Download the examples of the Tutorial
          </button></p>

          <p>OpenBST : <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/openbst-0.2-RC1-full.jar'">
            Download OpenBST
          </button></p>

          <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="location.href='https://github.com/utybo/BST/issues'">
            Report a bug
          </button></p>

          <h3 id="licenses">Licenses</h3>
          <p>OpenBST is licensed under the MPL-v2 License. The BST tutorial and all its examples (including but not limited to the files contained in the examples.zip file) are licensed under the CC-BY-NC-SA v4 International license.</p>
          </p></article>
      </div>
    </div>
    </div>
  </section>
  <section class="mdl-layout__tab-panel" id="downloads"></section>
</main>
