
<h3 id="bst">BST</h3>
<p>BST is a simple, straight-forward language built from the ground up to provide the most user-friendly clutter-free experience possible to both users and story creators. Creating BST files simply requires any text file editor : Windows’ Notepad.exe, Notepad++, gedit, Mousepad, Pluma, Atom.io, Sublime Text, any can do!</p>

<pre><code>1:This small text box is all you need to know to get started
:Cool!|2

2:I know right? :D
</code></pre>

<p>And you can even create more complex story with scripting. Heck, you could even create your very own text-based game with it – your imagination is the limit.</p>

<p>The BST format is open, and documentation is available freely to download from the Release page.</p>

<h3 id="openbst">OpenBST</h3>
<p>OpenBST is a simple, cross-platform and universal program to read and interact with any BST formatted file. It aims to be up to date with the latest new fancy features.</p>

<p>Its interface is simple enough for newcomers while containing everything needed for power users and story creators.</p>

<h3 id="download-now-version-02-rc1">Download now (version 0.2-RC1)</h3>
<p>The BST Tutorial : <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/The.BST.Tutorial.pdf'">
Download the Tutorial
</button><br />
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/examples.zip'">
Download the examples of the Tutorial
</button></p>

<p>OpenBST : <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="location.href='https://github.com/utybo/BST/releases/download/v0.2-RC1/openbst-0.2-RC1-full.jar'">
Download OpenBST
</button></p>

<p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="location.href='https://github.com/utybo/BST/issues'">
Report a bug
</button></p>

<h3 id="licenses">Licenses</h3>
<p>OpenBST is licensed under the MPL-v2 License. The BST tutorial and all its examples (including but not limited to the files contained in the examples.zip file) are licensed under the CC-BY-NC-SA v4 International license.</p>