
<h3 id="bst">BST</h3>
<p>BST is a language that allows you to create branching stories and small text-based games. It is made to be as simple and straightforward as possible, but still be powerful. Creating BST files only requires a simple text file editor : Windows’ Notepad.exe, Notepad++, gedit, Mousepad, Pluma, Atom.io, Sublime Text, any can do!</p>

<pre><code>1:This small text box is all you need to know to get started
:Cool!|2
:Not cool!|3

2:I know right? :)

3:Well that's rude
</code></pre>

<p>But BST isn't only just this : it has a scripting mechnism, sounds, interface customization, and more!</p>

<p>The BST format is open, and documentation is available from the Download section of the website. However, by itself, your text file won't do anything. Much like an image file, you'll need some program to open it; and this is exactly what OpenBST does!</p>

<h3 id="openbst">OpenBST</h3>
<p>OpenBST is a simple and cross-platform program made to read and interact with any BST formatted file. It aims to be up to date with the latest new fancy features.</p>

<p>Its interface is simple enough for newcomers while containing everything needed for power users and story creators.</p>

<p>Start creating your own stories today : it's 100% free! :)

<p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="location.href='https://github.com/utybo/BST/issues'">
Report a bug
</button></p>

<h3 id="licenses">Licenses</h3>
<p>OpenBST is licensed under the MPL-v2 License. The BST tutorial and all its examples (including but not limited to the files contained in the examples.zip file) are licensed under the CC-BY-NC-SA v4 International license.</p>
