  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" onclick="location.href='{{ site.baseurl }}/'" style="cursor:pointer">{{ site.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        {% for page in site.pages %}
          {% if page.title %}
            <div style="width: 20px;"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" onclick="location.href='{{ page.url | prepend: site.baseurl }}'">{{ page.title }}</button>
          {% endif %}
        {% endfor %}
        {% for option in site.more_vert %}
        <div style="width: 20px;"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" onclick="location.href='{{ option[1].link}}'">{{ option[1].name }}</button>
        {% endfor %}
      </nav>      
     </div>
     <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="{{ site.baseurl }}/#blog" class="mdl-layout__tab is-active">Blog</a>
      <a href="{{ site.baseurl }}/#about" class="mdl-layout__tab">About</a>
      <a href="{{ site.baseurl }}/#downloads" class="mdl-layout__tab">Downloads</a>
     </div>
  </header>

  <!--<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav> -->

  <!--</div>-->

