  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" onclick="location.href='{{ site.baseurl }}/'" style="cursor:pointer">{{ site.title }}</span>
      
      <span style="padding-left: 20px; margin-top: -3px;">[ {{ site.subtitle }} ]</span>
      
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        {% for page in site.pages %}
          {% if page.title %}
            <div style="width: 20px;"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" onclick="location.href='{{ page.url | prepend: site.baseurl }}'">{{ page.title }}</button>
          {% endif %}
        {% endfor %}
        {% for option in site.more_vert %}
        <div style="width: 20px;"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" onclick="location.href='{{ option[1].link }}'">{{ option[1].name }}</button>
        {% endfor %}
      </nav>      
     </div>
  </header>

