body {
  margin: 10px;
  padding: 0px;
  font-family: $f;
}

.storydiv {
  margin:-10px;
  padding:10px;
  $ADDITIONAL;
  width: 100%; 
  height:100%
}

.bg {
  background-image:url('data:image;base64,$b64bg');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

.dark {
  background-color: #000000
}